@model IEnumerable<CarrMIS4200.Models.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Doctor Profiles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.docLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.docFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.docPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.docLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.docFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.docPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.doctorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.doctorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.doctorId })
        </td>
    </tr>
}

</table>
